// nextflow.config

params {
    fastq = "data/*_{1,2}.*"
	reference = "ref/*.fasta"
}

process {
    $fastQC.container = "ummidock/fastqc:0.11.5-1"
    $mapping.container = "ummidock/bowtie2_samtools:1.0.0-1"

    $fastQC.cpus = 2
    $fastQC.memory = "2GB"

	$mapping.cpus = 4
    $mapping.memory = "2GB"
}

profiles {
    standard {
        docker.enabled = true
    }

    lobo {
        process.executor = "slurm"
        shifter.enabled = true

        process.$fastQC.cpus = 8
    }
}
